.App {
  text-align: center;
}

.header {
  width: 66.66%;
  margin: 0 auto;
}

.logo {
  max-width: 100%;
  height: auto;
}

h2 {
  margin-top: 0;
}

/* Add these styles to your existing App.css */
.plantings-table {
  width: 66.66%;
  margin: 0 auto;
  border-collapse: collapse;
  table-layout: auto;
}

.plantings-table th,
.plantings-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.plantings-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}
